In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde

In [35]:
df = pd.read_csv("Dataset_2_DATA.csv")[lambda df: df['DAGSOORT'] == 1]
display(df)

,HHID,PERSID,VPLID,RitID,HH_VALID,P_VALID,KHVM,WEGGEWEEST,VERTREKP,AANTVPL,...,HHAUTO_N,HHAUTO,HHBESTEL,HHHYBRID,HHMOTOR,HHBROM,HHSNOR,HHFIETS,HHVOUWFIETS,HHEBIKE
0,30055622,3005562201,13957101,1395710101,2,3,2,1,2,2,...,3,1,0,0,1,0,0,1,0,1
1,30055622,3005562201,13957102,1395710201,2,3,2,1,2,2,...,3,1,0,0,1,0,0,1,0,1
2,30055622,3005562201,13957201,1395720101,2,3,1,1,2,4,...,3,1,0,0,1,0,0,1,0,1
3,30055622,3005562201,13957202,1395720201,2,3,1,1,2,4,...,3,1,0,0,1,0,0,1,0,1
7,30356310,3035631001,17204101,1720410101,2,3,8,1,2,1,...,2,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7304,30862294,3086229401,19042102,1904210201,2,3,1,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7306,30862294,3086229401,19042103,1904210301,2,3,7,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7307,30862294,3086229401,19042104,1904210401,2,3,7,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7308,30862294,3086229401,19042201,1904220101,2,3,1,1,2,3,...,1,1,0,0,0,0,0,1,0,0
7309,30862294,3086229401,19042105,1904210501,2,3,1,1,2,5,...,1,1,0,0,0,0,0,1,0,0

## Подготовка данных

### 1. Обработка пропущенных значений

In [36]:
# Проверяем датафрейм на содержание NaN-значений
has_any_missing = df.isna().any().any()
print("Есть ли вообще пропуски в датафрейме?", has_any_missing)

# Может показаться, что пропусков нет, но если проверить столбцы на соотвествие типу object можно понять,
# что два столбца потенциально могут содержать "нетипичные" пропуски.
print(df.dtypes[df.dtypes != 'int64'])

# Проверим уникальные значения столбцов KREISDUUR и PARKEERKOSTEN
for col in df.select_dtypes(include=['object']).columns:
    print(f"Уникальные значения в {col}:")
    print(df[col].unique())

# Бинго! Пропуски в наборе данных обозначаются одним пробелом(' ')

Есть ли вообще пропуски в датафрейме? False
KREISDUUR        object
PARKEERKOSTEN    object
dtype: object
Уникальные значения в KREISDUUR:
['11' '8' '7' '5' '4' '3' '10' '6' '2' '9' ' ' '1']
Уникальные значения в PARKEERKOSTEN:
['0' '9' '3' '11' ' ' '13' '5' '4' '14' '12' '16' '10' '7' '2' '6' '1' '8']

In [37]:
# Заменяем пропуски на NaN-значение
df = df.replace({' ': np.nan})

# Функция для замены пропусков модой (или средним) значением
def fill_with_mode(group):
    mode_vals = group.mode()
    if not mode_vals.empty:
        return group.fillna(mode_vals.iloc[0])
    return group.fillna(group.mean())

# Заменяем пропуски в найденных столбцах
cols_to_fill = ['KREISDUUR', 'PARKEERKOSTEN']
for col in cols_to_fill:
    df[col] = df.groupby('PERSID')[col].transform(fill_with_mode)

### 2. Удаление дубликатов

In [38]:
df = df.drop_duplicates()
display(df) # Как можно заметить, количество строк не изменилось

,HHID,PERSID,VPLID,RitID,HH_VALID,P_VALID,KHVM,WEGGEWEEST,VERTREKP,AANTVPL,...,HHAUTO_N,HHAUTO,HHBESTEL,HHHYBRID,HHMOTOR,HHBROM,HHSNOR,HHFIETS,HHVOUWFIETS,HHEBIKE
0,30055622,3005562201,13957101,1395710101,2,3,2,1,2,2,...,3,1,0,0,1,0,0,1,0,1
1,30055622,3005562201,13957102,1395710201,2,3,2,1,2,2,...,3,1,0,0,1,0,0,1,0,1
2,30055622,3005562201,13957201,1395720101,2,3,1,1,2,4,...,3,1,0,0,1,0,0,1,0,1
3,30055622,3005562201,13957202,1395720201,2,3,1,1,2,4,...,3,1,0,0,1,0,0,1,0,1
7,30356310,3035631001,17204101,1720410101,2,3,8,1,2,1,...,2,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7304,30862294,3086229401,19042102,1904210201,2,3,1,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7306,30862294,3086229401,19042103,1904210301,2,3,7,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7307,30862294,3086229401,19042104,1904210401,2,3,7,1,2,5,...,1,1,0,0,0,0,0,1,0,0
7308,30862294,3086229401,19042201,1904220101,2,3,1,1,2,3,...,1,1,0,0,0,0,0,1,0,0
7309,30862294,3086229401,19042105,1904210501,2,3,1,1,2,5,...,1,1,0,0,0,0,0,1,0,0

### 3. Приведение типов данных

In [39]:
# Мы знаем, что единственные признаки не int64 это 'KREISDUUR', 'PARKEERKOSTEN'
# Тк в этих столбцах больше нет пропущенных значений можно спокойно переводить эти столбцы к int64
df['KREISDUUR'] = df['KREISDUUR'].astype('int64')
df['PARKEERKOSTEN'] = df['PARKEERKOSTEN'].astype('int64')

print(df.info()) # Теперь мы можем заметить что все 56 признаков теперь типа int64

<class 'pandas.core.frame.DataFrame'>
Index: 5700 entries, 0 to 7309
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   HHID                     5700 non-null   int64
 1   PERSID                   5700 non-null   int64
 2   VPLID                    5700 non-null   int64
 3   RitID                    5700 non-null   int64
 4   HH_VALID                 5700 non-null   int64
 5   P_VALID                  5700 non-null   int64
 6   KHVM                     5700 non-null   int64
 7   WEGGEWEEST               5700 non-null   int64
 8   VERTREKP                 5700 non-null   int64
 9   AANTVPL                  5700 non-null   int64
 10  VPLDAGNR                 5700 non-null   int64
 11  VERPL                    5700 non-null   int64
 12  VERPLNR                  5700 non-null   int64
 13  TOER                     5700 non-null   int64
 14  TOER_TYPE                5700 non-null   int64
 15  AANTRIT                  5700 non-null   int64
 16  KMOTIEF                  5700 non-null   int64
 17  VERTPROV                 5700 non-null   int64
 18  AANKPROV                 5700 non-null   int64
 19  KAFSTV                   5700 non-null   int64
 20  KVERTTIJD                5700 non-null   int64
 21  KREISDUUR                5700 non-null   int64
 22  ROLAUTO                  5700 non-null   int64
 23  PARKEERKOSTEN            5700 non-null   int64
 24  VERTRAGING               5700 non-null   int64
 25  DAGSOORT                 5700 non-null   int64
 26  OORDEEL_AUTO             5700 non-null   int64
 27  OORDEEL_TREIN            5700 non-null   int64
 28  OORDEEL_BTM              5700 non-null   int64
 29  OORDEEL_FIETS            5700 non-null   int64
 30  OORDEEL_BROMMER          5700 non-null   int64
 31  OORDEEL_LOPEN            5700 non-null   int64
 32  GEBRUIK_AUTO_STELLING3   5700 non-null   int64
 33  GEBRUIK_AUTO_STELLING4   5700 non-null   int64
 34  GEBRUIK_TREIN_STELLING3  5700 non-null   int64
 35  GEBRUIK_TREIN_STELLING4  5700 non-null   int64
 36  GEBRUIK_BTM_STELLING3    5700 non-null   int64
 37  GEBRUIK_BTM_STELLING4    5700 non-null   int64
 38  GEBRUIK_FIETS_STELLING2  5700 non-null   int64
 39  GEBRUIK_FIETS_STELLING3  5700 non-null   int64
 40  GEBRUIK_LOPEN_STELLING3  5700 non-null   int64
 41  GEBRUIK_LOPEN_STELLING4  5700 non-null   int64
 42  HHPERS                   5700 non-null   int64
 43  HHSAM                    5700 non-null   int64
 44  N_KIND                   5700 non-null   int64
 45  HHBRUTOINK2_w5           5700 non-null   int64
 46  HHAUTO_N                 5700 non-null   int64
 47  HHAUTO                   5700 non-null   int64
 48  HHBESTEL                 5700 non-null   int64
 49  HHHYBRID                 5700 non-null   int64
 50  HHMOTOR                  5700 non-null   int64
 51  HHBROM                   5700 non-null   int64
 52  HHSNOR                   5700 non-null   int64
 53  HHFIETS                  5700 non-null   int64
 54  HHVOUWFIETS              5700 non-null   int64
 55  HHEBIKE                  5700 non-null   int64
dtypes: int64(56)
memory usage: 2.5 MB
None